<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Admin</title>
</head>
<body>
<div style="text-align: center;width: 100%">
	<form th:action="@{/logout}" method="post">
		<input type="submit" value="Log Out" />
	</form>

	<form th:action="@{/statement/}" method="get">
		<fieldset>
		    <p>Select Account Id
			<select name="accountId">
				<option th:each="accountId : ${accountsIds}" th:value="${accountId}"
					th:text="${accountId}" th:selected="${accountId}"></option>
			</select>
			</p>
			<div>
				<p>
					Date From <input type="date" th:name="fromDate">
				</p>
				<p>
					Date To <input type="date"  th:name="toDate">
				</p>
			</div>

			<div>
				<p>
					Amount From <input type="text" name="fromAmount">
				</p>
				<p>
					Amount To <input type="text" name="toAmount">
				</p>
			</div>
			<div class="form-actions">
				<button type="submit" class="btn">Search</button>
				<input onclick='javascript:window.history.back()' value='Back' type='button' />
			</div>

		</fieldset>
	</form>
 </div>
</html>